name: aad-oauth-example
description: A Flutter OAuth package example for performing user authentication against Azure Active Directory OAuth2 v2.0 endpoint.

version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  aad_oauth: "^0.1.1"
  flutter:
    sdk: flutter

 
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true