.DS_Store
.dart_tool/
.idea/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example_b2c/ios/Flutter/.last_build_id
example/ios/Flutter/.last_build_id
